@model List<ASPdotNETcore.Models.Member>

<div class="row">
    <div class="col-2">
    <button type="button" class="btn btn-success" onclick="window.location.href='/Member/Create'">Create<i
            class="fa fa-plus"></i></button>
    </div>
    <div class="col-10">
         @using (Html.BeginForm("ListDetails", "Member", FormMethod.Get))
            {
                <p class="row">
                    @*@Html.TextBox("searchString", null, new { @class = "form-control col-md-3", @placeholder = "Nhập thông tin..." })*@
                    <input class="form-control col-md-3" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Type first name or last name ..." type="text">
                    &nbsp;<button type="submit" class="btn btn-primary "><i class="fa fa-search"></i>Search</button>
                </p>
            }
    </div>

</div>

<div class="table-responsive" >
    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Birth place</th>
                <th>Gender</th>
                <th>Phone number</th>
                <th>Graduated</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody id="row_@item.LastName">
                <tr>
                    <td>
                        <a href="/Member/Edit/@item.LastName" title="Edit"><i class="fas fa-edit">Edit</i></a><br>
                        <a href="/Member/Details/@item.LastName" title="Details"><i class="fas fa-edit">Details</i></a><br>

                        @* <a data-ajax="true" title="Delete" data-ajax-complete="$('#row_@item.LastName ').remove()"
                            data-ajax-confirm="Are you sure wanto delete this member" data-ajax-method="Delete"
                            href="/Member/Delete/@item.LastName"><i class="fa fa-trash" style="color:red">Delete</i></a> *@
                            @Html.ActionLink("Delete", "Delete", new { name = item.LastName })

                    </td>

                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.DateOfBirth.Date</td>
                    <td>@item.BirthPlace</td>
                    <td>@item.Gender</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.isGraduate</td>
                    <td>@item._StarDate.Date</td>
                    <td>@item._EndDate</td>

                </tr>
            </tbody>
        }
    </table>


</div>